/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');



body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #f8f8f8;
  margin: 0;
}

/* Стили для формы поиска */
.form {
 margin-left: auto;
 margin-right: auto;
}

.form input {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px 0 0 4px;
  outline: none;
  border-radius: 5px;
}

.form input:hover{
  border-color: #000000;
}

.form button {
  padding: 10px 15px;
  background-color: #4E75FF;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #6C8CFF;
}

/* Стили для галереи */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Элемент галереи */
.gallery-item {
  
  width: 300px;
  background-color: white;
  max-height: 200px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.03);
}

.gallery-item img {
  width: 100%;
  display: block;
  max-height: 152px;
  object-fit: covers;
}

/* Информация под фото */
.info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info p {
  flex-direction: column;
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  justify-content: center;
}

/* Loader */
.loader {
  width: 64px;
  height: 64px;
  border: 8px solid #ccc;
  border-top-color: #4c4cff;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  margin: 30px auto;
}

.hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}